@charset "UFT-8";

/*
HTML É ID = EM CSS É #
HTML É CLASS = EM CSS É .
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(61, 222, 55);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: aliceblue;
}

h2{
    color: rgb(51, 105, 30)
}
.basico{
color: green;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}

.destaque{background-color: yellowgreen;}